body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

.cabecalho {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* MAIN */

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
}

.principal__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone-lixeira {
    flex-shrink: 0; 
    cursor: pointer;
}
